<!DOCTYPE html>
<html>
<head>
    <title>Addition</title>
</head>
<body>
    <h1>Addition</h1>
    <form method="POST"> 
        <!-- A form is how frontent sends data to backend -->
         <!--when it get submitted send data to server -->
         <!-- GET = used to requesting data 
              POST = used to sending data -->
        <input type ="number" name="A" placeholder="Enter A"> 
        <input type="number" name = "B" placeholder="Enter B">
        <select name="operations">

            <option value = "add">Addition</option>
            <option value = "sub">Substraction</option>
            <option value = "mul">Multiplication</option>
            <option value = "div" >Division</option>

        </select>
        <!-- Browser send form data to server and by default it sends to the same URL -->
        <button type = "submit">Calculate</button> 

       
    </form>
    <br>
    <a href = "/history">View History</a>

     {% if result is not none %}
        <h3>Result = {{result}}</h3>
     {% endif %}
</body>
</html>

